@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  cursor: default;
  transition: background 0.2s;
}

:root {
  --background-color: black;
  --game-color: black;
  --line-color: black;
}

::selection {
  background: transparent;
}

body {
  background: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background: var(--background-color);
  z-index: 2;
}

.timer-side,
.timer-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer-side div,
.timer-side span,
.timer-game div,
.timer-game span {
  font-size: 3.37vh;
  padding: 0.56vh;
}

h1 {
  font-size: 5.61vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.28vh 0 rgba(98, 0, 255, 0.25), -0.28vh 0 rgba(255, 0, 0, 0.25);
}

.ready-screen {
  box-shadow: inset 0px 0px 600px 260px var(--background-color);
  width: 900px;
  height: 550px;
  padding-bottom: 60px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity 0.3s, background 0.2s, box-shadow 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ready-screen__text {
  font-size: 3rem;
  text-shadow: 0 2px 5px var(--line-color);
}
.ready-screen__ready {
  font-size: 1.5rem;
  padding: 15px;
  width: 170px;
  margin-top: 60px;
  border-radius: 5px;
  background: var(--game-color);
  cursor: pointer;
  box-shadow: 0 3px 3px var(--line-color);
  border: 2px solid var(--line-color);
  transition: letter-spacing 0.2s, transform 0.2s, box-shadow 0.2s, background 0.2s;
}
.ready-screen__ready:hover {
  letter-spacing: 1px;
}
.ready-screen__ready:active {
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px var(--line-color), inset 0 0 10px var(--line-color);
  transform: translate(0, 2px);
}

.setting-btns {
  border-top: 1px solid var(--game-color);
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  align-items: flex-start;
  gap: 50px;
  transition: bottom 400ms 100ms, background 0.2s;
  z-index: 2;
  left: 50%;
  bottom: -300px;
  padding-top: 20px;
  background: var(--game-color);
  box-shadow: inset 0px 0px 70px 80px var(--background-color);
  transition: bottom 0.3s, background 0.2s, box-shadow 0.2s;
  z-index: 4;
}
.setting-btns button {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid var(--game-color);
  background: var(--background-color);
  box-shadow: 0 3px 3px var(--line-color);
  transition: transform 0.15s, box-shadow 0.15s, background 0.2s;
  cursor: pointer;
}
.setting-btns button form,
.setting-btns button label,
.setting-btns button input {
  cursor: pointer;
}
.setting-btns button:active {
  box-shadow: 0 1px 3px var(--line-color);
  transform: translate(0, 2px);
}
.setting-btns__nav {
  position: absolute;
  top: -30px;
  border: 1px solid var(--line-color);
  background: var(--game-color);
  color: var(--background-color);
  width: 45px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s, opacity 0.2s;
}
.setting-btns__nav:hover {
  opacity: 1;
  transition: background 0.2s, opacity 0.1s;
}
.setting-btns__nav div {
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 1.6rem;
  font-family: sans-serif;
  cursor: pointer;
}
.setting-btns .checkbox-inp {
  transform: scale(1.4) translate(3px, 1px);
}

main {
  width: 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform-style: preserve-3d;
  transform: rotateX(260deg) rotateZ(-100deg);
  transition: transform 0.7s, background 0.2s;
}

.side1,
.side2,
.side3 {
  border: 1px solid var(--line-color);
  background: var(--game-color);
  width: 400px;
  height: 400px;
  display: grid;
  padding: 60px 50px 20px 50px;
  grid-template-rows: 1fr 1fr 2fr 1.4fr;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.side1 .health-bar,
.side2 .health-bar,
.side3 .health-bar {
  width: 301px;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 14px 45px;
}
.side1 .health-bar__blocks,
.side2 .health-bar__blocks,
.side3 .health-bar__blocks {
  border: 1px solid var(--line-color);
  height: 100%;
  border-radius: 50%;
}
.side1 .solve-me,
.side2 .solve-me,
.side3 .solve-me {
  letter-spacing: 1px;
  display: flex;
  align-items: end;
  padding-left: 15px;
}
.side1 .quiz,
.side2 .quiz,
.side3 .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side1 .quiz span,
.side2 .quiz span,
.side3 .quiz span {
  margin: 5px;
  background: var(--line-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: monospace;
}
.side1 .quiz input,
.side2 .quiz input,
.side3 .quiz input {
  height: 40px;
  width: 100px;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  background: var(--background-color);
}
.side1 .quiz input::selection,
.side2 .quiz input::selection,
.side3 .quiz input::selection {
  background: var(--game-color);
  color: var(--background-color);
}
.side1 .quiz input::-webkit-outer-spin-button, .side1 .quiz input::-webkit-inner-spin-button,
.side2 .quiz input::-webkit-outer-spin-button,
.side2 .quiz input::-webkit-inner-spin-button,
.side3 .quiz input::-webkit-outer-spin-button,
.side3 .quiz input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.side1 .submit-btn,
.side2 .submit-btn,
.side3 .submit-btn {
  background: var(--background-color);
  margin: 10px;
  border-radius: 5px;
  transition: letter-spacing 0.2s, background 0.2s;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
.side1 .submit-btn-effects,
.side2 .submit-btn-effects,
.side3 .submit-btn-effects {
  cursor: pointer;
}
.side1 .submit-btn-effects:hover,
.side2 .submit-btn-effects:hover,
.side3 .submit-btn-effects:hover {
  letter-spacing: 2px;
}
.side1 .submit-btn-effects:active,
.side2 .submit-btn-effects:active,
.side3 .submit-btn-effects:active {
  letter-spacing: 1.5px;
}

input[type=checkbox] {
  accent-color: var(--game-color);
  transition: accent-color 0.2s;
}

.lost-health {
  background: var(--line-color);
  box-shadow: 0 0 5px var(--background-color);
}

.side1 {
  width: 400px;
  transform: translateZ(-200px) translateY(200px) rotateY(90deg) rotate(90deg);
  transform-origin: right;
}

.side2 {
  transform: rotateX(90deg) scaleX(-1);
  transform-origin: bottom;
}

.side3 {
  transform: translateZ(-400px) scaleX(-1);
}

.shake {
  animation: shake 0.3s;
}

.end-screen {
  display: none;
  opacity: 0;
  box-shadow: inset 0px 0px 600px 260px var(--background-color);
  width: 900px;
  height: 550px;
  padding-bottom: 60px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity 0.3s, background 0.2s, box-shadow 0.2s;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: repeat(5, 1fr);
}
.end-screen div {
  border: 1px solid var(--line-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-screen__health__block {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 8px;
}
.end-screen__question {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.end-screen-btns {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  align-items: flex-start;
  gap: 50px;
  transition: bottom 400ms 100ms, background 0.2s;
  z-index: 2;
  left: 50%;
  bottom: -400px;
}
.end-screen-btns button {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid var(--game-color);
  background: var(--background-color);
  box-shadow: 0 3px 3px var(--line-color);
  transition: transform 0.15s, box-shadow 0.15s, background 0.2s;
  cursor: pointer;
}
.end-screen-btns button form,
.end-screen-btns button label,
.end-screen-btns button input {
  cursor: pointer;
}
.end-screen-btns button:active {
  box-shadow: 0 1px 3px var(--line-color);
  transform: translate(0, 2px);
}/*# sourceMappingURL=style.css.map */