@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  cursor: default;
}

:root {
  --background-color: red;
  --game-color: green;
  --line-color: blue;
}

::selection {
  background: transparent;
}

body {
  background: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background: var(--background-color);
  z-index: 2;
}

.timer-side,
.timer-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer-side div,
.timer-side span,
.timer-game div,
.timer-game span {
  font-size: 3.37vh;
  padding: 0.56vh;
}

h1 {
  font-size: 5.61vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -0.28vh 0 rgba(255, 0, 251, 0.25), 0.28vh 0 rgba(255, 0, 0, 0.25);
}

main {
  width: 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform-style: preserve-3d;
  transform: rotateX(260deg) rotateZ(-100deg);
  transition: transform 0.7s;
}

.side1,
.side2,
.side3 {
  border: 1px solid var(--line-color);
  background: var(--game-color);
  width: 400px;
  height: 400px;
  display: grid;
  padding: 60px 50px 20px 50px;
  grid-template-rows: 1fr 1fr 2fr 1.4fr;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.side1 .health-bar,
.side2 .health-bar,
.side3 .health-bar {
  width: 301px;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 14px 45px;
}
.side1 .health-bar__blocks,
.side2 .health-bar__blocks,
.side3 .health-bar__blocks {
  border: 1px solid var(--line-color);
  height: 100%;
  border-radius: 50%;
}
.side1 .health-bar .lost-health,
.side2 .health-bar .lost-health,
.side3 .health-bar .lost-health {
  background: var(--line-color);
  box-shadow: 0 0 5px var(--background-color);
}
.side1 .solve-me,
.side2 .solve-me,
.side3 .solve-me {
  letter-spacing: 1px;
  display: flex;
  align-items: end;
  padding-left: 15px;
}
.side1 .quiz,
.side2 .quiz,
.side3 .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side1 .quiz span,
.side2 .quiz span,
.side3 .quiz span {
  margin: 5px;
  background: var(--line-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: monospace;
}
.side1 .quiz input,
.side2 .quiz input,
.side3 .quiz input {
  height: 40px;
  width: 100px;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  background: var(--background-color);
}
.side1 .quiz input::selection,
.side2 .quiz input::selection,
.side3 .quiz input::selection {
  background: var(--game-color);
  color: var(--background-color);
}
.side1 .submit-btn,
.side2 .submit-btn,
.side3 .submit-btn {
  background: var(--background-color);
  margin: 10px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
.side1 .submit-btn-effects,
.side2 .submit-btn-effects,
.side3 .submit-btn-effects {
  cursor: pointer;
}
.side1 .submit-btn-effects:hover,
.side2 .submit-btn-effects:hover,
.side3 .submit-btn-effects:hover {
  letter-spacing: 4px;
}
.side1 .submit-btn-effects:active,
.side2 .submit-btn-effects:active,
.side3 .submit-btn-effects:active {
  letter-spacing: 3px;
}

.side1 {
  width: 400px;
  transform: translateZ(-200px) translateY(200px) rotateY(90deg) rotate(90deg);
  transform-origin: right;
}

.side2 {
  transform: rotateX(90deg) scaleX(-1);
  transform-origin: bottom;
}

.side3 {
  transform: translateZ(-400px) scaleX(-1);
}

.shake {
  animation: shake 0.3s;
}/*# sourceMappingURL=style.css.map */