.end-screen {
    display: none;
    // display: grid;
    opacity: 0;
    // opacity: 1;

    @include ready-end-screen();

    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: repeat(5, 1fr);

    div {
        border: 1px solid var(--line-color);
        padding: 10px;
        @include flex-center-childs();
    }

    &__health__block {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 8px;
        // background: var(--game-color);
    }

    &__question {
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
}

.end-screen-btns {
    @include bottomBtns(-400px);
}
