.end-screen {
    display: none;
    opacity: 0;

    @include ready-end-screen();

    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: repeat(5, 1fr);

    div {
        border: 1px solid var(--line-color);
        padding: 10px;
        @include flex-center();
    }

    &__life__block {
        border-radius: 50%;
        width: $endScreen-life-block-width;
        height: $endScreen-life-block-width;
        margin: 8px;
    }

    &__question {
        letter-spacing: 1px;
        font-size: $font-size-small;
    }
}

.end-screen-btns {
    @include bottomBtns(-400px);
}
