@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-$shake-size);
    }
    50% {
        transform: translateX($shake-size);
    }
    75% {
        transform: translateX(-$shake-size);
    }
    100% {
        transform: translateX(0);
    }
}
