@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ready-end-screen() {
    box-shadow: $ready-end-screen-box-shadow;
    width: $ready-end-screen-width;
    min-width: $page-min-width;
    height: $ready-end-screen-height;
    min-height: 450px;
    padding-bottom: 60px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-low;
    transition: opacity 0.3s, $change-theme, $change-theme-box-shadow;
}

@mixin bottomBtns($btm) {
    position: absolute;
    transform: translate(-50%, -50%);
    width: $bottomBtns-width;
    height: $bottomBtns-height;
    @include flex-center();
    padding-top: 5px;
    align-items: flex-start;
    gap: 50px;
    transition: bottom 400ms 100ms, $change-theme;
    z-index: $z-index-mediom;
    left: 50%;
    bottom: $btm;

    button {
        width: 250px;
        height: 60px;
        border-radius: $border-radius-mediom;
        border: 2px solid var(--game-color);
        background: var(--background-color);
        box-shadow: 0 3px 3px var(--line-color);
        transition: transform 0.15s, box-shadow 0.15s, $change-theme;
        cursor: pointer;

        form,
        label,
        input {
            cursor: pointer;
        }

        &:active {
            box-shadow: 0 1px 3px var(--line-color);
            transform: translate(0, 2px);
        }
    }
}
