@mixin flex-center-childs() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ready-end-screen() {
    box-shadow: inset 0px 0px 600px 260px var(--background-color);
    width: 900px;
    height: 550px;
    padding-bottom: 60px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: opacity 0.3s, $change-theme, $change-theme-box-shadow;
}

@mixin bottomBtns($btm) {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    // height: 90px;
    @include flex-center-childs();
    gap: 50px;
    transition: bottom 400ms 100ms, $change-theme;
    z-index: 2;
    left: 50%;
    bottom: $btm;

    button {
        width: 250px;
        height: 60px;
        border-radius: 5px;
        border: 2px solid var(--game-color);
        background: var(--background-color);
        box-shadow: 0 3px 3px var(--line-color);
        transition: transform 0.15s, box-shadow 0.15s, $change-theme;
        cursor: pointer;

        form,
        label,
        input {
            cursor: pointer;
        }

        &:active {
            box-shadow: 0 1px 3px var(--line-color);
            transform: translate(0, 2px);
        }
    }
}
