.ready-screen {
    @include ready-end-screen();
    @include flex-center();
    flex-direction: column;

    &__text {
        font-size: $font-size-extra-large;
        text-shadow: 0 2px 5px var(--line-color);
    }

    &__ready {
        font-size: $font-size-large;
        padding: 15px;
        width: $ready-screen-btn-width;
        margin-top: 60px;
        border-radius: $border-radius-mediom;
        background: var(--game-color);
        cursor: pointer;
        box-shadow: 0 3px 3px var(--line-color);
        border: 2px solid var(--line-color);
        transition: letter-spacing 0.2s, transform 0.2s, box-shadow 0.2s,
            $change-theme;

        &:hover {
            letter-spacing: $ready-screen-btn-letter-spacing-hover;
        }

        &:active {
            letter-spacing: $ready-screen-btn-letter-spacing-active;
            box-shadow: $ready-screen-btn-box-shadow;
            transform: translate(0, 2px);
        }
    }
}
