.ready-screen {
    @include ready-end-screen();
    @include flex-center-childs();
    flex-direction: column;

    &__text {
        font-size: 3rem;
        text-shadow: 0 2px 5px var(--line-color);
    }

    &__ready {
        font-size: 1.5rem;
        padding: 15px;
        width: 170px;
        margin-top: 60px;
        border-radius: 5px;
        background: var(--game-color);
        cursor: pointer;
        box-shadow: 0 3px 3px var(--line-color);
        border: 2px solid var(--line-color);
        transition: letter-spacing 0.2s, transform 0.2s, box-shadow 0.2s,
            $change-theme;

        &:hover {
            letter-spacing: 1px;
        }

        &:active {
            letter-spacing: 0.5px;
            box-shadow: 0 1px 3px var(--line-color),
                inset 0 0 10px var(--line-color);
            transform: translate(0, 2px);
        }
    }
}
