@import "config";
@import "mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: #333;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    overflow: hidden;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.timer-side,
.timer-game {
    border: 1px solid green;
    @include flex-center-childs();
    flex-direction: column;

    div,
    span {
        font-size: 1.2rem;
        padding: 4px;
    }
}

h1 {
    font-size: 2rem;
    border: 1px solid rgb(72, 0, 255);
    @include flex-center-childs();
}

main {
    border: 1px solid pink;
    width: 100%;
    @include flex-center-childs();
    position: relative;
}

.side1,
.side2,
.side3 {
    border: 1px solid red;
    width: 400px;
    height: 400px;
    display: grid;
    padding: 60px 50px 20px 50px;
    grid-template-rows: 1fr 2fr 1fr;
    // transform: skewY(30deg);
    // transition: $change-side-timer;

    .health-bar {
        border: 1px solid green;
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 10px 45px;

        div {
            border: 1px solid purple;
            height: 100%;
            border-radius: 50%;
        }
    }

    .quiz {
        border: 1px solid orange;
        @include flex-center-childs();

        span {
            margin: 5px;
            background: rgb(41, 41, 41);
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 1.2rem;
        }

        input {
            height: 40px;
            width: 100px;
            font-size: 1.2rem;
            border-radius: 3px;
            padding: 5px;
        }
    }

    input {
        margin: 10px;
    }
}
