@import "config";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    cursor: default;
    transition: $change-theme;
}

:root {
    --background-color: black;
    --game-color: black;
    --line-color: black;
}

body {
    background: var(--background-color);
    min-width: $page-min-width;
    height: 100vh;
    overflow-y: hidden;
}

::selection {
    background: transparent;
}


@import "mixin";
@import "header";
@import "ready-screen";
@import "setting-btns";
@import "cube";
@import "end-screen";
@import "keyframes";
