header {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: $header-width;
    background: var(--background-color);
    z-index: $z-index-mediom;
}

.timer-side,
.timer-game {
    @include flex-center();
    flex-direction: column;

    div,
    span {
        font-size: $timers-font-size;
        padding: 0.56vh;
    }
}

h1 {
    font-size: $h1-font-size;
    @include flex-center();
    text-shadow: $h1-text-shadow;
}
